/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin-top: 0px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Banner ***********/

.banner {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    Height: 79px;
}

.logo_title {
    /* Width: 161.09px;
    Height: 79px; */
    Padding: 30px 0px 30px 0px;
    Gap: 10px;
    display: flex;
    align-items: center;
}

.logo_title1 {
    width: 61.09px;
    height: 19px;
}



nav {
    display: flex;
    flex-direction: row;
}

A {
    text-decoration:none;
}

/* .nav-flex {
    display:flex;
    justify-content: center;
    padding-top: 2px;
} */

nav .link:link {
    text-decoration:none;
    color:black;
    margin: 0px 30px 0px 30px;
    padding-top: 17px;
    display: block;
}

nav .link:hover {
    margin: 0px 30px 0px 30px;
    color:#0065FC;
    padding-top: 15px;
    border-top: 2px solid #0065FC;
    display: block;
}

/****** Info group ***********/
.info_group {
    display: flex;
    flex-direction: column;
    Gap: 25px;
}

.headline {
    /* Width: Fill (1,340px);
    Height: Fixed (53px); */
    Gap: 8px;
}

.search_bar {
    display: flex;
    flex-direction: row;
    /* padding: 15px;
    Border: 1px; */
    Gap: 0px;
}

.group_15 {
    display: flex;
    background-color: var(--main-bg-color);
    justify-content: center;
    align-items: center;
    Width: 50px;
    Height: 49px;
    border: 1px;
    border-radius: 15px 0px 0px 15px;
}

.fa-location-dot {
    color: black;
    /* Width: 14px;
    Height: 18px; */
}

.search_text {
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    Height: 48px;
    width: 195px;
    border: solid 1px ;
    border-color: var(--main-bg-color);
}

input {
    width: 191px;
    Height: 46px; 
    font-size: 18px;
    font-weight: bold;
    font-style: Black;
    border: 0px dotted;
    margin-left: 25px;
}

.search_button {
    display: flex;
    background-color: #0065FC;
    justify-content: center;
    align-items: center;
    Height: 49px;
    width: 132px;
    border: 1px 0px 1px 0px;
    border-radius: 0px 15px 15px 0px;
}

.rechercher {
    color: white;
    font-size: 18px;
    font-weight: bold;
    display: block;
}

.fa-magnifying-glass {
    display: none;
    color: white;
}



.filter_bar {
    display: flex;
    flex-direction: row;
    align-items: left;
    /* Width: 758px; */
    /* Height: 50px; */
}

.filter_title {
    display: flex;
    font-size: 18px;
    font-weight: bold;
    align-items: center;
    margin-right: 15px;
}

.filter_font {
    font-size: 18px;
    font-weight: bold;
}

.filter_assemble {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    /* Width: 758px; */
    Gap: 15px;
}

.filter_button {
    display: flex;
    flex-direction: row;
    background-color: white;
    align-items: center;
    /* Width: Hug;
    Height: Fixed; */
    border-radius: 25px;
    Border: solid 2px;
    border-color: #D9D9D9;
    Height: 50px;
    Padding: 0px 19px 0px 19px;
    Gap: 10px;
}

.filter_button:hover {
    background-color: #DEEBFF;
}



.info_bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* Width: Fill;
    Height: Fixed 24px; */
    Gap: 0px;
}

.i_info {
    display: flex;
    justify-content: center;
    align-items: center;
    Width: 24px;
    Height: 24px;
    Border: solid 1px;
    border-color: #DEEBFF;
    border-radius: 1rem;
    margin-right: 10px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    /* background-color: var(--main-bg-color); */
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 65%;
    gap: 30px;
    background-color: var(--main-bg-color);
}

.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hebergements-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    width: 240px;
    /* box-sizing: content-box;
    width: 100%; */
    Height: 200px;
    /* gap: 30px; */
}

.hebergements-cards img {
    width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements .card-content {
    width: 100%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    box-sizing: border-box;
    /* gap: 8px; */
}

.hebergements-cards .card-title {
    margin-top: 5px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-top: 4px;
    margin-bottom: 5px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
    background-color: var(--main-bg-color);
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activity ***********/

.activity {
    display: flex;
    flex-direction: column;
    padding: 30px 0px;
    max-width: 1340px;
    Height: 559.02px;
    box-sizing: border-box;
    gap: 30px;
}

.activity-cards {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    gap: 30px;
}

.activity-cards .card {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 20%;
    Height: 439px;
    gap: 0px;
}

.activity-cards img {
    width: 100%;
    object-fit: cover;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activity .card-content {
    width: 100%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    /* gap: 8px; */
}

.activity-cards .card-title {
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 4px;
}

/****** Footer ***********/

footer {
    display: flex;
    flex-direction: row;
    background-color: var(--main-bg-color);
    justify-content: space-between;
}

.a_propos {
    width: 32%;
    margin-left: 15px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    
    .filter_bar {
        flex-direction: column;
        margin-bottom: 20px;
    }
    
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /****** general ***********/
    
    body {
        max-width: 767.98px;
        justify-content: center;
    }

    .main-container {
    padding: 0px 0px;
    }

    /****** banner ***********/

    .banner {
        flex-direction: column;
        /* max-width: 767.98px; */
        width: 100%;
        margin-bottom: 60px;
    }

    .logo_title {
        justify-content: center;
    }

    nav {
        justify-content:space-around;
        /* justify-content: space-between; */
        width: 100%;
        gap: 0px;
    }

    nav .link:link {
        display: flex;
        flex: 1;
        justify-content: center;
        margin: 0px 0px 0px 0px;
        padding-top: 0px;
        border-top: 0px;
        padding-bottom: 15px;
        border-bottom: 2px solid var(--main-bg-color);
    }

    nav .link:hover {
        display: flex;
        flex: 1;
        justify-content: center;
        margin: 0px 0px 0px 0px;
        padding-top: 0px;
        border-top: 0px;
        padding-bottom: 15px;
        border-bottom: 2px solid #0065FC;
    }

    /****** Info group ***********/
    .headline {
        text-align: left;
        width: 80%;
    }

    .search_bar {
        justify-content: space-between;
    }

    .search_text {
        flex: 1;
    }

    .search_button {
        width: 49px;
        /* border: 1px 0px 1px 0px; */
        border-radius: 15px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .rechercher {
        display: none;
    }
    
    .fa-magnifying-glass {
        display: block;
    }

    .filter_button {
        flex: 1;
        justify-content: center;
    }


    /****** Hebergements And Populaires ***********/

    .hebergements-and-populaires {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hebergements-and-populaires section {
        border-radius: 0px;
    }

    /****** Populaires ***********/

    .populaires {
        order: 1;
        box-sizing: content-box;
        width: 100%;
    }

    .populaires-cards {
        flex-direction: column;
        box-sizing: content-box;
        width: 100%;
    }

    .populaires-cards .card {
        box-sizing: content-box;
        width: 100%;
    }

    /****** Hebergements ***********/

    .hebergements {
        order: 2;
        box-sizing: content-box;
        width: 100%;
        background-color: white;
    }

    .hebergements-cards .card {
        box-sizing: content-box;
        width: 100%;
    }
    
    /****** Activity ***********/

    .activity {
        Height: 1050px;
        padding: 30px;
        box-sizing: border-box;
    }

    .activity-cards {
        flex-direction: column;
    }

    .activity-cards .card {
        height: 200px;
        
    }
    
    .activity-cards img {
        width: 100%;
        object-fit: cover;
        Height: 141px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    
    .activity .card-content {
        width: 100%;
        padding-left: 15px;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        /* gap: 8px; */
    }
    
    .activity-cards .card-title {
        justify-content: space-between;
        margin-top: 20px;
        margin-bottom: 15px;
    }

    /****** Footer ***********/

    footer {
        flex-direction: column;
    }

    .a_propos {
        width: 100%;
    }
}